html,

body {
  margin: 0;
  padding: 0;
  height: 100%;
  
}
#wrapper {
  min-height: 100%;
  position: relative;
}
#content {
  padding-bottom: 10px;
  /* Height of the footer element */
}